<html>
<style>
    .container {width: 100%; margin:auto}
    @media (min-width: 600px) {.container {width:80%;}}
    @media (min-width: 768px) {.container {width:60%;}}
    @media (min-width: 1024px) {.container {width:50%;}}
</style>
<div class = "container">
    <h2>Welcome to Generative AI. My name is Taylor. May I know your name?</h2>
<img src="https://i.iheart.com/v3/catalog/artist/337578?ops=fit(720%2C720)" width="320" height ="240">
    <form action ="/main" method="post">
        <!--<p> is used to centralise the row else by default it will shift right -->
        <p>Please enter the text</p>
        <p><input type ="text" name="i"></p>
        <p><input type="submit" value="Enter"></p>
    </form>
</div>
</html>